body {
    background-color: #e6e6e6;
    font-family: "Italianno", cursive;
    font-weight: 400;
    font-style: normal;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.container {
    width: 100%;
    height: auto; /* Change height to auto for flexibility */
    padding: 20px; /* Add some padding */
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog-post {
    background-color: #ffffff; /* White background for the blog post */
    border: 1px solid #ccc; /* Light border */
    border-radius: 5px; /* Slightly rounded corners */
    padding: 20px; /* Padding inside the blog post */
    max-width: 800px; /* Max width for readability */
    width: 100%; /* Full width for smaller screens */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Shadow for depth */
}

.blog-post h1 {
    font-family: "Italianno", cursive;
    font-size: 2rem; /* Adjust header size */
    color: black; /* Header color */
}

.blog-post p {
    font-family: "Forum", serif;
    font-size: 1.2rem; /* Adjust paragraph size */
    color: black; /* Paragraph color */
}

@media screen and (max-width: 800px) {
    .blog-post {
        width: 70%; /* Adjust width for smaller screens */
    }
    
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}