body{
    background-color: #dfd7e4;
    /* font-family: "Italianno", cursive; */
    font-weight: 400;
    font-style: normal;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    text-align: center;
}

html {
    scroll-behavior: smooth; /* Enable smooth scrolling */
}

.container{
    width: 70%;
    height: 100%;
    margin: auto;
    padding-bottom: 5%;
}

.container h1{
    font-family: "Forum", serif;
    font-size: 60px;
    color: #8E29C9;
}

.container h2{
    font-family: "Forum", serif;
    font-size: 40px;
    color: #333;
}

.container p, h2{
    font-family: "Forum", serif;
    font-size: 20px;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}