.footer {
    position: block;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #838383;
    color: white;
    text-align: center;
    padding: 5px;
    box-sizing: border-box; /* Ensure padding doesn't overflow */
}