    .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #e6e6e6;
  }

  .logo{
    display: none;
  }
  
  @media screen and (max-width: 800px) {
    .logo_text {
      display: none;
    }
    .logo {
      display: flex;
    }
    
  }